.nav {
  z-index: 200;
  background: rgba(33, 33, 33, 0.7);

  .nav__logo {
    cursor: pointer;
    max-width: 95px;
  }

  .nav__items {
    li {
      position: relative;
      text-align: center;
      color: #ffff;
      font-weight: bold;
      transition: all 0.3s;
      border: 1px solid transparent;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        bottom: -15%;
        left: 0;
        height: 2px;
        width: 20px;
        transition: all 0.3s;
        background-color: #0fb;
      }
    }

    li:hover:after {
      width: 100%;
    }

    .nav__itemsActive {
      color: #333;
      font-weight: normal;
      background: #0fb;
      border-radius: 30px;
      box-shadow: 0 0 7px transparent;

      &:after {
        width: 0;
        height: 0;
      }

      &:hover {
        color: #333;
        box-shadow: 0 0 7px #0fb;
      }
    }
  }
}
