.detail {
  overflow: hidden;

  .detail__slider {
    margin-bottom: 50px;

    .slick-slider {
      height: 25em !important;
    }

    .slick-dots {
      li {
        button:before {
          color: #ccc !important;
        }
      }

      .slick-active {
        button:before {
          color: #fff !important;
        }
      }
    }

    .slick-next {
      top: 200px;
      right: 50px;
      z-index: 10;
    }

    .slick-next::before,
    .slick-prev::before {
      color: #ccc;
      font-size: 30px !important;
    }

    .slick-prev {
      top: 200px;
      left: 50px;
      z-index: 10;
    }

    .slick-list,
    .slick-track {
      height: 100% !important;
    }

    .slick-slide {
      padding-top: 10px;
      transition: all 0.5s;
      opacity: 0.15;

      div {
        outline: none !important;
        height: 100% !important;

        img {
          object-fit: cover !important;
          object-position: top !important;
        }
      }

      .slide-lg {
        width: 690px !important;
        max-width: 690px !important;
      }

      .slide-sm {
        width: 225px !important;
        max-width: 225px !important;
      }
    }
    .slick-active.slick-center {
      opacity: 1;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .detail__header {
    color: #0fb;

    span {
      border-radius: 5px;
      display: block;
      width: 50px;
      height: 3px;
      background-color: #0fb;
    }
  }

  .detail__about {
    clear: both;
    text-align: justify;
    line-height: 1.6;
  }

  .detail__techPic {
    h6 {
      min-width: 125px;
      span {
        font-weight: bold;
        color: #ccc;
      }
    }
  }

  .detail__live {
    a {
      color: #0fb;
    }

    .flame {
      color: #e25822 !important;
      animation: flame 0.5s ease alternate infinite;
      @keyframes flame {
        0% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(-4px);
        }
      }
    }
  }

  .detail__code {
    a {
      color: #0fb;
    }

    .github {
      animation: github 0.5s ease alternate infinite;
      @keyframes github {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(-30deg);
        }
        50% {
          transform: rotate(0deg);
        }
        75% {
          transform: translateY(30deg);
        }
        100% {
          transform: translateY(0deg);
        }
      }
    }
  }

  .detail__tags {
    font-size: 13px;

    span {
      cursor: pointer;
      border-radius: 20px;
      padding: 2px 10px;
      color: rgba(0, 255, 187, 0.7);
      background-color: rgba(22, 43, 81, 0.7);
      transition: all 0.3s;

      &:hover {
        background-color: rgb(0, 255, 187, 1);
        color: rgb(22, 43, 81);
      }
    }
  }

  // Gradient Border ----------------------------------------
  .gradient-border {
    --borderWidth: 3px;
    background: #1d1f20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.loader__wrapper {
  height: 100vh;
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #0fb;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}

@media (max-width: 790px) {
  .detail {
    .detail__slider {
      .slick-slider {
        height: 15em !important;

        .slick-next {
          top: 115px;
          right: 25px;
        }

        .slick-next::before,
        .slick-prev::before {
          font-size: 25px !important;
        }

        .slick-prev {
          top: 115px;
          left: 5px;
        }

        .slick-slide {
          .slide-lg {
            width: 375px !important;
            max-width: 375px !important;
          }

          .slide-sm {
            width: 130px !important;
            max-width: 130px !important;
          }
        }
      }
    }
  }
}
