.detail {
  overflow: hidden;

  .detail__slider {
    margin-bottom: 100px;

    .slick-slider {
      height: 20em !important;
    }

    .slick-dots {
      li {
        button:before {
          color: #ccc !important;
        }
      }

      .slick-active {
        button:before {
          color: #fff !important;
        }
      }
    }

    .slick-next {
      top: 150px;
      right: 50px;
      z-index: 10;
    }

    .slick-next::before,
    .slick-prev::before {
      color: #0fb;
      font-size: 40px !important;
    }

    .slick-prev {
      top: 150px;
      left: 50px;
      z-index: 10;
    }

    .slick-list,
    .slick-track {
      height: 100% !important;
      overflow: visible;
    }

    .slick-slide {
      transition: all 0.5s;
      opacity: 0.2;

      div {
        outline: none !important;
        height: 100% !important;

        img {
          object-fit: cover !important;
          object-position: top !important;
        }
      }
    }
    .slick-active.slick-center {
      opacity: 1;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

.loader__wrapper {
  height: 100vh;
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #0fb;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}

@media (max-width: 790px) {
  .detail {
    .detail__slider {
      .slick-slider {
        height: 15em !important;

        .slick-next {
          top: 115px;
          right: 25px;
        }

        .slick-next::before,
        .slick-prev::before {
          color: #0fb;
          font-size: 40px !important;
        }

        .slick-prev {
          top: 115px;
          left: 5px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .detail {
    .detail__slider {
      .slick-slider {
        height: 15em !important;

        .slick-slide {
          div {
            max-width: 375px !important;

            img {
              object-position: left top !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
